<%- include('./../partials/head.ejs') %> 
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
<%- include('./../partials/navigation.ejs')%>   
<main>
    <div class="center-flex">
        <%- include('./../partials/orgName.ejs')%>  
        <div>
            <%- include('./../partials/alert.ejs')%>  
            <form action="/postForgotPassword" method="POST" class="form-card">
                <p class="form-card-title">Forget password</p>
                <div class="fieldWrapper">
                    <label for="">Enter your email</label>
                    <input type="text" name="email" value=""/>
                </div>
                <button type="submit" class="full-width">Submit</button>
            </form>
        </div>
    </div>
</main>
<%- include('./../partials/end.ejs') %>