<%- include('./../partials/head.ejs') %> 
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
<%- include('./../partials/navigation.ejs')%>   
<main>
    <div class="center-flex">
        <%- include('./../partials/orgName.ejs')%>  
        <div>
            <%- include('./../partials/flashAlert.ejs')%>  
            <%- include('./../partials/validationAlert.ejs')%> 
            <form action="/forgotPassword" method="POST" class="form-card">
                <p class="form-card-title">Forget password</p>
                <div class="fieldWrapper">
                    <label for="">Enter your email</label>
                    <input type="text" name="email" value="<%= oldInput.email%>" class="<%= validationErrors.find(e => e.param === 'email') ? 'validation-error' : '' %>"/>
                </div>
                <button type="submit" class="full-width">Submit</button>
            </form>
        </div>
    </div>
</main>
<%- include('./../partials/end.ejs') %>