<%- include('./../partials/head.ejs') %> 
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
<%- include('./../partials/navigation.ejs')%>
<main class="form-container">
    <div class="center-flex">
        <%- include('./../partials/orgName.ejs')%> 
        <div>
            <%- include('./../partials/alert.ejs')%>  
            <form action="/postReset" method="POST" class="form-card">
                <p class="form-card-title">Reset password</p>
                <div class="fieldWrapper">
                    <label for="">New Password</label>
                    <input type="password" name="newPassword" value=""/>
                </div>
                <div class="fieldWrapper">
                    <label for="">Confirm Password</label>
                    <input type="password" name="confirmPassword" value=""/>
                </div>
                <input type="hidden" name="token" value="<%= token%>">
                <button type="submit" class="full-width">Reset</button>
            </form>
        </div>    
</div>
</main>
<%- include('./../partials/end.ejs') %>
